<div class="container">
  <P class="d-block p-2 text-secondary fs-6"> A b o u t U s</P>
  <h2 class="fs-5 d d-block py-5">WHO AM I ?</h2>
  <p class="fs-5 text-secondary">
    <span class="fw-bold text-dark"> Hi i am George Edwar</span> On her way she
    met a copy. The copy warned the Little Blind Text, that where it came from
    it would have been rewritten a thousand times and everything that was left
    from its origin would be the word "and" and the Little Blind Text should
    turn around and return to its own, safe country.
  </p>
  <p class="d-block fs-5 text-secondary py-5">
    Even the all-powerful Pointing has no control about the blind texts it is an
    almost unorthographic life One day however a small line of blind text by the
    name of Lorem Ipsum decided to leave for the far World of Grammar.
  </p>
  <div class="cards row">
    <div class="col-3">
      <div class="card bg-light">
        <div
          class="card-body text-primary align-center align-content-center py-5"
        >
          Graphic design
        </div>
        <span class="border-bottom border-primary"></span>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light">
        <div
          class="card-body text-primary align-center align-content-center py-5"
        >
          Web design
        </div>
        <span class="border-bottom border-primary"></span>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light">
        <div
          class="card-body text-primary align-center align-content-center py-5"
        >
          software
        </div>
        <span class="border-bottom border-primary"></span>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-light">
        <div
          class="card-body align-center align-content-center py-5 text-primary"
        >
          application
        </div>
        <span class="border-bottom border-primary"></span>
      </div>
    </div>
  </div>
</div>
  <div class="card py-5 my-5 fw-thin bg-warning">
    <h5 class="d-block px-4 py-4 ">I am happy to know you</h5>
    <h5 class="d-block px-4  ">that 300+ projects done sucessfully!</h5>
</div>
