<nav class="navbar bg-body-tertiary align-center W-5">
  <div
    class="container-fluid d-flex flex-column mb-3 justify-content-center align-content-center align-items-center"
  >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <a href="">
          <img class="card-img pt-2 " src="../../assets/porto.jpg" alt="" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link navbar-brand">George Edwar</a>
      </li>
      <li>
        <p class="pt-2 text-primary">
          Front-End Developer at upskilling
        </p>
      </li>
      <li class="nav-item">
        <a class=" Hover nav-link" routerLink="home" routerLinkActive="home">Home</a>
      </li>
      <li class="nav-item">
        <a  routerLink="about" routerLinkActive="about" class="nav-link Hover">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="service" routerLinkActive="service" class="nav-link Hover">Service</a>
      </li>
      <li class="nav-item">
        <a  routerLink="skills" routerLinkActive="skills" class="nav-link Hover">Skills</a>
      </li>
      <li class="nav-item">
        <a routerLink="education" routerLinkActive="education" class="nav-link Hover">Education</a>
      </li>
      <li class="nav-item">
        <a  routerLink="experience" routerLinkActive="experience" class="nav-link Hover">Experience</a>
      </li>
      <li class="nav-item">
        <a routerLink="work" routerLinkActive="work"  class="nav-link Hover">Work</a>
      </li>
      <li class="nav-item">
        <a routerLink="blog" routerLinkActive="blog" class="nav-link Hover">Blog</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" routerLinkActive="contact" class="nav-link Hover">Contact</a>
      </li>
    </ul>
  </div>
</nav>
