<div class="container py-5">
  <div class="box bg-body-tertiary px-5 py-5 my-5    ">
    <h2 class="  py-5 text-dark">Full Stack Developer <span class=" fs-5 text-secondary"> 2017-2018</span></h2>
    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
  </div>
  <div class="box bg-body-tertiary px-5 py-5 my-5 ">
    <h2 class="text-dark  py-5">Front End Developer at Google Company <span class=" fs-5 text-secondary"> 2017-2018</span></h2>
    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
  </div>
  <div class="box bg-body-tertiary px-5 py-5 my-5 ">
    <h2 class=" py-5 text-dark">System Analyst <span class=" fs-5 text-secondary"> 2017-2018</span></h2>
    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
  </div>
  <div class="box bg-body-tertiary px-5 py-5 my-5 ">
    <h2 class=" py-5 text-dark">Creative Designer  <span class=" fs-5 text-secondary"> 2017-2018</span></h2>
    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
  </div>
  <div class="box bg-body-tertiary px-5 py-5 my-5 ">
    <h2 class=" py-5 text-dark">UI/UX Designer at Envato <span class=" fs-5 text-secondary"> 2017-2018</span></h2>
    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
  </div>
</div>
