<div class="container">
  <P class="d-block p-2 text-secondary fs-6"> GET IN TOUCH</P>
  <h2 class="fs-5 d d-block py-5">CONTACT</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="box">
        <img class="mx-4" src="https://fakeimg.pl/100x100/" /><span
          class="fw-light fs-5 text-primary"
          >info@domain.com
        </span>
      </div>
      <div class="box py-5">
        <img class="mx-4" src="https://fakeimg.pl/100x100/" /><span
          class="fw-light fs-5 text-primary"
          >198 West 21th Street</span
        >
      </div>
      <div class="box">
        <img class="mx-4" src="https://fakeimg.pl/100x100/" /><span
          class="fw-light fs-5 text-primary"
          >+123 456 7890</span
        >
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="email"
          class="form-control my-5 bg-light"
          id="exampleFormControlInput1"
          placeholder="Name"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control my-5 bg-light"
          id="exampleFormControlInput1"
          placeholder="Email"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control my-5 bg-light"
          id="exampleFormControlInput1"
          placeholder="Subject"
        />
      </div>

      <div class="mb-3">
        <textarea
          placeholder="message"
          class="form-control my-5 py-4 bg-light"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
</div>
