<div class="container">
  <P class="d-block p-2 text-secondary fs-6"> WHAT I DO?</P>
  <h2 class="fs-5 d d-block py-5">HERE ARE SOME OF MY EXPERTISE</h2>
  <div class="cards row ">
    <div class="col-4 py-4">
      <div class="card bg-light">
        <div
          class="card-body align-center align-content-center  mr-2 ml-2 ">
          <h1 class="fs-5 fw-bold">INNOVATIVE IDEAS </h1>
          <p class="text-secondary"> Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div>
    </div>
    <div class="col-4 py-4">
      <div class="card bg-light">
        <div
          class="card-body align-center align-content-center  mr-2 ml-2 ">
          <h1 class="fs-5 fw-bold">SOFTWARE </h1>
          <p class="text-secondary"> Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div>
    </div>
    <div class="col-4 py-4">
      <div class="card bg-light">
        <div
          class="card-body align-center align-content-center  mr-2 ml-2 ">
          <h1 class="fs-5 fw-bold">APPLICATION </h1>
          <p class="text-secondary"> Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div>
    </div>
    <div class="col-4 py-4">
      <div class="card bg-light">
        <div
          class="card-body align-center align-content-center  mr-2 ml-2 ">
          <h1 class="fs-5 fw-bold">GRAPHIC DESIGN </h1>
          <p class="text-secondary"> Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div>
    </div>
    <div class="col-4 py-4">
      <div class="card bg-light">
        <div
          class="card-body align-center align-content-center  mr-2 ml-2 ">
          <h1 class="fs-5 fw-bold">SOFTWARE </h1>
          <p class="text-secondary"> Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div>
    </div>
    <div class="col-4 py-4">
      <div class="card bg-light">
        <div
          class="card-body align-center align-content-center  mr-2 ml-2 ">
          <h1 class="fs-5 fw-bold">APPLICATION   </h1>
          <p class="text-secondary"> Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div>
    </div>
    </div>

    <div class="card py-5 my-5 fw-thin bg-dark">
      <h5 class="d-block px-4 py-4 text-light ">I am happy to know you</h5>
      <h5 class="d-block px-4 text-light  "> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aspernatur quod totam quae. Hic voluptatibus asperiores vero aliquam sunt enim officiis ex ducimus ad obcaecati est, odit iste incidunt eum corrupti culpa commodi molestias, facilis totam provident. Tempora obcaecati voluptatem architecto impedit, fugiat earum ad odio! Eligendi totam a quidem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quia, natus sit quis vero atque ullam similique ratione veniam voluptates?
      </h5>
  </div>




</div>
