<div class="container">
  <P class="d-block p-2 text-secondary fs-6"> READ</P>
  <h2 class="fs-5 d d-block py-5">RECENT BLOG</h2>
</div>
<div class="container">
  <div class="row">

    <div class="col-4 mx-5">
      <div class="card border border-0" style="width: 18rem">
        <img
          src="https://fakeimg.pl/350x200/?text=World&font=lobster"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="text-secondary fs-6">APRIL 14, 2018 | WEB DESIGN |</p>
          <h5 class="card-title fw-normal">RENOVATING NATIONAL GALLERY</h5>
          <p class="card-text fw-light">
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 px-2 mx-5">
      <div class="card border border-0" style="width: 18rem">
        <img
          src="https://fakeimg.pl/350x200/?text=World&font=lobster"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="text-secondary fs-6">APRIL 14, 2018 | WEB DESIGN |</p>
          <h5 class="card-title fw-normal">WORDPRESS FOR A BEGINNER
          </h5>
          <p class="card-text fw-light">
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 px-2 mx-5">
      <div class="card border border-0" style="width: 18rem">
        <img
          src="https://fakeimg.pl/350x200/?text=World&font=lobster"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="text-secondary fs-6">APRIL 14, 2018 | WEB DESIGN |</p>
          <h5 class="card-title fw-normal">MAKE WEBSITE FROM SCRATCH</h5>
          <p class="card-text fw-light">
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary py-3"  type="button">load more </button>
    </div>
  </div>
</div>
